<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/sbt-main/static/addfolder.css" />
    </head>
    <body>
        <div class="frame">
            <div class="overlap-wrapper">
                <div class="overlap">
                    <div class="group">
                        <div class="overlap-group"><div class="text-wrapper">YOUR FOLDERS</div></div>
                        <div class="div">
                            <img class="test-account" src="img/icons8-test-account-48-1.png" />
                            <div class="text-wrapper-2">User</div>
                        </div>
                        <div class="div-wrapper"><div class="text-wrapper-3">Search</div></div>
                        <div class="overlap-2"><div class="text-wrapper-4">Home</div></div>
                        <div class="overlap-3">
                            <div class="text-wrapper-5">Account</div>
                            <img class="img" src="img/user-profile-circle.svg" />
                        </div>
                        <div class="overlap-4">
                            <div class="text-wrapper-6">Documents</div>
                            <img class="img" src="img/document-text.svg" />
                        </div>
                        <div class="overlap-5">
                            <div class="text-wrapper-7">Schedule</div>
                            <img class="calendar-number" src="img/calendar-number.svg" />
                        </div>
                        <div class="overlap-6">
                            <div class="text-wrapper-8">Notes</div>
                            <img class="pencil" src="img/pencil-03.svg" />
                        </div>
                        <div class="overlap-7">
                            <div class="text-wrapper-5">Logout</div>
                            <img class="img" src="img/logout-01.svg" />
                        </div>
                    </div>
                    <div class="group-2"></div>
                    <div class="rectangle"></div>
                    <div class="text-wrapper-9">Find Files</div>
                    <div class="group-3"></div>
                    <img class="add-folder-icon" src="/sbt-main/static/img/image_5.png" />
                    <div class="text-wrapper-10">No folder yet</div>
                    <img class="home" src="img/home-05.svg" />
                </div>
            </div>
        </div>
    </body>
</html>
