<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>homepage</title>
    <link rel="stylesheet" href="/sbt-main/static/homepage.css">

</head>
<body>
    <div class="sidebar">
        <div class="profile">
            <img src="https://via.placeholder.com/50" alt="User Profile">
            <span>User</span>
        </div>
        <div class="search">
            <input type="text" placeholder="Search">
            <button><img src="/sbt-main/static/img/image_15.png" alt="Search"></button>
        </div>
        <div class="menu">
            <a href="/sbt-main/templates/homepage.html"><img src="/sbt-main/static/img/image_9.png" alt="Home Icon">Home</a>
            <a href="/sbt-main/templates/accdetails.html"><img src="/sbt-main/static/img/image_11.png" alt="Account Icon">Account</a>
            <a href="/sbt-main/templates/documents.html"><img src="/sbt-main/static/img/image_10.png" alt="Documents Icon">Documents</a>
            <a href="/sbt-main/templates/schedule.html"><img src="/sbt-main/static/img/image_12.png" alt="Schedule Icon">Schedule</a>
            <a href="/sbt-main/templates/notes.html"><img src="/sbt-main/static/img/image_13.png" alt="Notes Icon">Notes</a>
        </div>
        <div class="logout">
            <a href="/sbt-main/templates/selectusertype.html"><img src="/sbt-main/static/img/image_14.png" alt=" ">Logout</a>
        </div>
    </div>
    <div class="main-content">
        <h1>WELCOME TO<br>STUDY SHELF, USER!</h1>
        <div class="underline"></div>
        <p>A home for all your study materials.</p>
    </div>
</body>
</html>
