<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/sbt-main/static/loginAsStudent.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Login</title>
    
</head>
<body>
    <div class="container">
        <!-- Left Section -->
        <div class="left">
            <img src="/sbt-main/static/img/image_1.jpg" alt="Illustration">
        </div>

        <!-- Right Section -->
        <div class="right">
            <h2>LOGIN AS STUDENT</h2>
            <img class="line" src="/sbt-main/static/img/image_8.jpg"/>
            <img class="teacherimg" src="/sbt-main/static/img/image_3.png"/>
            <form>
                <div class="form-group">
                    <label for="email">Email / Username</label>
                    <input type="email" id="email" placeholder="Enter your e-mail or username">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <div class="password">
                        <input type="password" id="password" placeholder="Enter your password">
                        <button type="button" class="toggle">👁</button>
                    </div>
                </div>
                <div class="buttons">
                    <button type="submit">Sign In</button>
                    <h3>No Account Yet?</h3>
                    <a href="/sbt-main/templates/signup.html" class="signup">Sign Up</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>

