<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="globals.css" />
        <link rel="stylesheet" href="/sbt-main/static/useracc.css" />
    </head>
    <body>
        <div class="frame">
            <div class="overlap">
                <div class="group">
                    <div class="overlap-group">
                        <div class="text-wrapper">Password:</div>
                        <div class="div">Change Photo</div>
                        <div class="text-wrapper-2">Email Address:</div>
                        <div class="text-wrapper-3">Name:</div>
                        <div class="text-wrapper-4">Account Details</div>
                        <div class="text-wrapper-5">Username:</div>
                        <div class="text-wrapper-6">User</div>
                        <img class="line" src="img/line-1.svg" />
                    </div>
                    <div class="overlap-2">
                        <img class="test-account" src="img/icons8-test-account-48-1.png" />
                        <div class="text-wrapper-7">User</div>
                    </div>
                    <div class="div-wrapper"><div class="text-wrapper-8">Search</div></div>
                    <div class="overlap-3"><div class="text-wrapper-9">Home</div></div>
                    <div class="overlap-4">
                        <div class="text-wrapper-10">Account</div>
                        <img class="img" src="img/user-profile-circle.svg" />
                    </div>
                    <div class="overlap-5">
                        <div class="text-wrapper-11">Documents</div>
                        <img class="img" src="img/document-text.svg" />
                    </div>
                    <div class="overlap-6">
                        <div class="text-wrapper-12">Schedule</div>
                        <img class="calendar-number" src="img/calendar-number.svg" />
                    </div>
                    <div class="overlap-7">
                        <div class="text-wrapper-13">Notes</div>
                        <img class="pencil" src="img/pencil-03.svg" />
                    </div>
                    <div class="overlap-group-2">
                        <div class="text-wrapper-14">Logout</div>
                        <img class="img" src="img/logout-01.svg" />
                    </div>
                </div>
                <div class="group-2"></div>
                <img class="avatar-oi" src="img/avatar-oi.png" />
                <div class="rectangle"></div>
                <div class="text-wrapper-15">Edit Details</div>
                <img class="rectangle-2" src="img/rectangle-6.svg" />
                <img class="rectangle-3" src="img/rectangle-7.svg" />
                <div class="text-wrapper-16">kei</div>
                <div class="text-wrapper-17">Keziah Bonsol</div>
                <img class="rectangle-4" src="img/rectangle-8.svg" />
                <div class="text-wrapper-18">keziahbonsol19@gmail.com</div>
            </div>
        </div>
    </body>
</html>
