<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/sbt-main/static/welcomepage.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lustria&display=swap" rel="stylesheet">
        <title>welcomepage</title>
    </head>
    <body>
        <div class="frame">
            <div class="div">
                <div class="overlap-group">
                    <div class="text-wrapper">WELCOME TO STUDY SHELF</div>
                    <img class="line" src="/sbt-main/static/img/image_8.jpg" />
                    <p class="p">A home for all your study materials.</p>
                    <a href="selectusertype.html">
                        <img src="/sbt-main/static/img/image_7.png" alt="Next Button" class="next-button" />
                    </a>
                </div>
                <img class="ea" src="/sbt-main/static/img/image_1.jpg" />
            </div>
        </div>
    </body>
</html>
